.flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap:  3;
}

.flex-container > h1 {
        margin:  10px;
        color: white;
}

.flex-container > a {
        margin:  20px;
}

.header {
        background-color:  rgba(255, 255, 255, 0.1);
        border:  1px solid lightgray;
}

.content {
        background-color:  rgba(255, 255, 255, 0.1);
}

.content > h2 {
        color: white;
}

.footer {
        color:  white;
}

#index-body {
        background-image: url(https://images5.alphacoders.com/372/thumb-1920-372649.jpg); 
        background-size: auto;
        color: white;
}

#index-body > h2 {
        color: white;
}

#index-body > form {
        margin-top:  50px; 
        margin-bottom:  50px;
}

.overview-destination {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
}

#overview-body {
        background-image: url(https://images5.alphacoders.com/372/thumb-1920-372649.jpg);
        background-size: cover;
}

#overview-body > h1 {
        color: white;
}

#overview-information {
        text-align: center;
}

#overview-information > table {
        color: white;
        margin-left: auto;
        margin-right: auto;
}

.a-info {
        color: white;
}

.a-sight {
        color:  lightgray;
}