.bodyContainer {
  background-image: url(https://images5.alphacoders.com/372/thumb-1920-372649.jpg);
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: 3;
}

h2 {
  display: grid;
  justify-content: center;
  color: white;
}

.citiesContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px 10px;
}

@media only screen and (max-width: 600px) {
  .citiesContainer {
    display: grid;
    grid-template-columns: auto;
    gap: 10px 10px;
  }
  header {
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
  }
  h1 {
    font-size: x-large;
  }
  #button {
    justify-content: end;
  }
}

.cities {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: grid;
  align-content: space-between;
}

img {
  position: relative;
  width: 90%;
}
